/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.card-img-top {
  cursor: pointer;
  max-height: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.result-img {
  cursor: pointer;
  max-height: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
}